@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.limiter {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

body {
    font-family: 'roboto';
    background: #EBEBEB;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    background: #322E41;
}

.nav {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 14px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    display: flex;
    gap: 30px;
}




.nav_links a {
    color: white;
    padding: 23px 0;
    position: relative;
    transition: 550ms;
}

.nav_links li {
    position: relative;
}

.nav_links li::after, 
.nav_links li::before, 
.nav_links a::after, 
.nav_links a::before {
    content: '';
    position: absolute;
    transition: 550ms;
    background: black;
}

.nav_links li:hover::after, 
.nav_links li:hover::before, 
.nav_links a:hover::after, 
.nav_links a:hover::before {
    background: white;
}

.nav_links li::after {
    width: 5px;
    top: -103%;
    bottom: 203%;
    right: -8px;
    border-radius: 0 0 0 15px; 
}

.nav_links li:hover::after {
    bottom: 60%;
}

.nav_links li::before {
    width: 5px;
    left: -8px;
    top: 203%;
    bottom: -103%;
    border-radius: 0 15px 0 0;
}

.nav_links li:hover::before {
    top: 60%;
}

.nav_links a:hover {
    color: #FFE600;
}

.nav_links a::after {
    height: 5px;
    bottom: 0;
    left: -8px;
    right: calc(100% + 8px);
    border-radius: 0 15px 0 0;
}

.nav_links a:hover::after {
    right: 60%;
}

.nav_links a::before {
    left: calc(100% + 8px);
    right: -8px;
    top: 0;
    height: 5px;
    border-radius: 0 0 0 15px;
}

.nav_links a:hover::before {
    left: 60%;
}




.header {
    background: url(../images/header\ banner.png) no-repeat;
    background-size: cover;
    padding: 167px 0 245px;
}

.header div {
    text-align: center;
    color: white;
}

.header div h1 {
    font-size: 50px;
    font-family: 'roboto bold';
}

.header div p {
    font-size: 18px;
    margin-top: 15px;
}









/* MAIN*********************************************************** */



.main_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    border: 1px solid #000;
    width: 198px;
    margin: 20px auto;
    padding: 2px;
    transition: 1s;
}

.main_btn:hover {
}


.main_btn::before {
    content: 'main news';
    display: block;
    text-transform: uppercase;
    font-family: 'roboto bold';
    color: #2E2E3C;
    font-size: 24px;
    line-height: 18px;
    margin: 8px 0 8px 8px;
    transition: 900ms;
}
.main_btn:hover::before {
    transition: 900ms;
    opacity: 0;
    display: none;
}

.main_btn::after {
    content: 'All';
    display: block;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 4px;
    background: #9A98EA;
    padding: 7px 10px;
    text-align: center;
    transition: 900ms;
}




.main_btn:hover::after {
    transition: 900ms;
    background: #7a78e7;
    width: 100%;
}

.main_btn_2::before {
    content: 'products';
}



.main_contents_1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    margin: auto;
    gap: 30px;
    max-width: 1140px;
    width: 100%;
}

.main_contents_1_card {
    width: 350px;
    border-radius: 3px;
    border: 1px solid #D7D6DC;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.main_contents_1_card div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_contents_1_card h2 {
    font-size: 22px;
    font-family: 'roboto bold';
    color: #2C2A2A;
}

.main_contents_1_card p {
    color: #6A6A6A;
    text-align: justify;
    font-family: 'roboto light';
}

.yellowBtn {
    border-radius: 3px;
    background: #DFC900;
    color: #050505;
    font-family: 'roboto bold';
    font-size: 22px;
    padding: 11px 0;
    width: 100%;
    text-align: center;
    transition: 400ms;
}

.yellowBtn:hover {
    border-radius: 3px;
    background: #050505;
    color: #FFE600;
}




.main_contents_2 {
    display: flex;
    border: 1px solid #D9D6D3;
    background: #FFF;
    gap: 82px;
}

.main_contents_2_left {
    margin: 78px 0 78px 100px;
}

.main_contents_2_left_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.main_contents_2_left_title h1 {
    font-family: 'roboto bold';
    font-size: 23px;
    text-transform: uppercase;
}

.main_contents_2_left_title span {
    font-size: 20px;
}

.main_contents_2_left p {
    color: #6A6A6A;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 21px;
}

.main_contents_2_left_btns {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.main_contents_2_right {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}




.main_contents_3 {
    margin: 30px 15px 40px;
    display: flex;
    gap: 30px;
    
}

.main_contents_3_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFF;
    transition: 400ms;
    border: 1px solid transparent;
}

.main_contents_3_card:hover {
    border: 1px solid #A0A0A0;
}

.main_contents_3_card > div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_contents_3_card h2 {
    font-family: 'roboto bold';
    font-size: 22px;
    line-height: 18px;
}

.main_contents_3_card p {
    color: #6A6A6A;
}

.main_contents_3_card > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.main_contents_3_card > div > div span {
    font-size: 20px;
}

.main_content_3_card-item {
    height: calc(100% * 260 / 441);
}

.main_contents_3_card img {
    width: 100%;
    /* height: calc(100% * 260 / 441); */
    height: 100%;
    /* object-fit: cover; */
}



.main_contents_4 {
    position: relative;
}

.main_contents_4-pic {
    width: 100%;
}

.main_contents_4-content {
    position: absolute;
    top: 0;
    left: 50px;
    background: rgba(186, 186, 186, 0.50);
    backdrop-filter: blur(7.5px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 113px;
}

.main_contents_4-content h1 {
    text-align: center;
    font-family: 'roboto bold';
    color: white;
    font-size: 40px;
}


.main_btn2 {
    width: max-content;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 10px;
    margin: 40px auto;
}

.main_btn2 h3 {
    color: #2E2E3C;
    font-family: 'roboto bold';
    font-size: 24px;
    line-height: 18px;
    text-transform: uppercase;
}




.main_contents_5 {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto 50px;
    padding: 0 15px;
    display: flex;
    gap: 30px;
}

.main_contents_5_card {
    position: relative;
    max-width: 350px ;
    width: 100%;
}

.main_contents_5_card img {
    max-width: 350px ;
    width: 100%;
}

.main_contents_5_card_content {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

.main_contents_5_card_content h3  {
    font-family: 'roboto bold';
    color: white;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 24px;
}







/* FOOTER************************************************************* */

footer nav .nav {
    flex-direction: column;
    gap: 28px;
}

footer nav .nav .nav_links {
    padding: 10px 15px;
}


.webcoder {
    background: #1E1A29;
    padding: 5px 0;
}

.webcoder p {
    text-align: center;
    font-family: 'roboto bold';
    color: white;
}




/* MEDIA QUERY********************************************* */

@media(max-width: 1300px) {
    .main_contents_2 {
        flex-direction: column;
    }
    .main_contents_2_right {

    }
}